<tr>
  <td><%= notebook.name %></td>
  <td><%= notebook.description %></td>
  <td><%= notebook.status %></td>
  <td><%= notebook.percent_complete %>%</td>
  <td><%= notebook.total_complete %>/<%= notebook.total_chapters %></td>
</tr>